body{
  background-color: black;
}

/* Main Page CSS Start */

/* Flip Card Css */

.list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* margin: 100px 200px; */
}


.maincontainer{
  position: relative;
  width: 350px;
  height: 400px;
  color: #00c4fa;
  border: 2px solid #00c4fa;
  text-align: center;
  border-radius: 15px;
  margin: 50px auto;
  box-shadow: 0 0 10px #00c4fa, 0 0 20px #61dafb, 0 0 10px #61dafb;

}

.thecard{
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  border-radius: 15px;

}

.thecard:hover{
  transform: rotateY(180deg);
}

.thefront{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  /* background-color: #0d87a9; */
  border-radius: 15px;
}

.theback{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  /* background-color: #0d87a9; */
  border-radius: 15px;
  transform: rotateY(180deg);
}

img{
  width: 100%;
  height: 230px;
  border-radius: 15px 15px 0 0;
}

.Disc{
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
}

.Discription{
  padding: 10px;
  letter-spacing: 1px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.3;
  color: #00c4fa;
}

.flipCardDiv{
  display: flex;
  
}

/* Main Page CSS End */


